* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(244, 42, 116);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

/* Header */

.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1em;
    box-shadow: 0 0 2px black;
}

.header h1 {
    font-size: 1.5em;
}

/* Dashboard */

.dashboard {
    min-height: 65vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    width: 90%;
    max-width: 750px;

    margin: auto;

    justify-content: center;
    align-content: center;
}

/* Cards */

.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5em;

    border-radius: 1em;
    background-color: transparent;
    box-shadow: 0 0 2px black;

    cursor: pointer;
    transition: 0.3s;
}

.card p {
    margin-top: 1em;
    color: black;
}

.card:hover {
    transform: translateY(-6px);
    background-color: rgb(244, 42, 116);
    box-shadow: 0 5px 0 rgb(144, 243, 243);
    color: white;
    border: 1px solid white;
}

.card:hover p {
    color: black;
}

/* Mobile */

@media (max-width: 600px) {

    .header {
        margin: 1em;
        padding: 0.8em;
        border-radius: 1em;
        box-shadow: 0 0 5px black;
    }

    .logo {
        font-size: 1.4rem;
    }

    .dashboard {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}