* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #faf7f8;
    --text-color: #111111;
    --card-color: transparent;
    --border-color: #209be3;
    --shadow-color: #209be3;
    --hover-color: #6aa7f7;
}

.dark {
    --bg-color: #121212;
    --text-color: #faf7f8;
    --card-color: transparent;
    --border-color: #37e414;
    --shadow-color: #37e414;
    --hover-color: #03895f;
}


body {
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    color: var(--text-color);
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid var(--border-color);
}

.header h1 {
    font-size: 1.5em;
}

/* //STYLING TOGGLE BUTTON HERE */
#themeToggle {
    font-size: 1.3em;
    background: transparent;
    border: none;
    padding: 5px;
}

/* Dashboard */

.dashboard {
    min-height: 65vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    width: 90%;
    max-width: 750px;

    margin: auto;

    justify-content: center;
    align-content: center;
}

/* Cards */

.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5em;

    border-radius: 1em;
    background-color: var(--card-color);
    box-shadow: 0 0 2px var(--shadow-color);

    cursor: pointer;
    transition: 0.3s;
}

.card p {
    margin-top: 1em;
    color: var(--text-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card:hover {
    background-color: var(--hover-color);
    box-shadow: none;
    transform: translateY(-6px);
    color: var(--text-color);
}

.card:active {
    background: linear-gradient(to right bottom, var(--hover-color), rgb(90, 237, 225));
    box-shadow: none;
    transform: translateY(-6px);
    color: var(--text-color);
}


.card:hover p {
    color: var(--text-color);
}

/* Mobile */

@media (max-width: 600px) {

    body {
        background-color: var(--bg-color);
    }

    .header {
        margin: 1em;
        padding: 0.8em;
        border-radius: 2em;
    }

    .card p {
        color: var(--text-color);
    }

    .logo {
        font-size: 1rem;
        color: var(--text-color);
    }

    .dashboard {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
}