:root {
    --accent-color: #C4B5FD;
    --font-family: Trebuchet MS;
}

body {
    font-family: var(--font-family);
}


.allsections {
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.settings h2 {
    color: var(--accent-color);
    font-family: var(--font-family);
}

select {
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    font-size: 1em;
    font-family: var(--font-family);
}

select:focus {
    outline: none;
}