:root {
    --accent-color: #C4B5FD;
}

body {
    font-family: Arial, sans-serif;
}

.allsections {
    display: flex;
    justify-content: start;
    align-items: center;
}

.settings h2 {
    color: var(--accent-color);
}

select {
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select:focus {
    outline: none;
}