:root {
    --bg-color: #faf7f8;
    --text-color: #111111;
    --card-color: #ffffff;
    --border-color: #dddddd;
    --shadow-color: rgba(12, 12, 12, 0.25);
    --input-bg: transparent;
    --placeholder-color: rgba(0, 0, 0, 0.5);
}

.dark {
    --bg-color: #121212;
    --text-color: #ffffff;
    --card-color: #0605056c;
    --border-color: #37e414;
    --shadow-color: #37e414;
    --input-bg: #1e1e1e;
    --placeholder-color: rgb(241, 235, 235);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}