* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 3em;
    margin: 20px;
    border: 1px solid var(--border-color);
}

.logo {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
}


/* MAIN */

.main {
    display: flex;
    justify-content: center;

    padding: 20px;
}


/* TODO APP */

.todo-app {
    width: min(650px, 100%);
}


/* INPUT SECTION */

.input-box {
    display: flex;
    gap: 12px;

    margin-bottom: 25px;
}

#input {
    flex: 1;
    padding: 18px;

    border: 1px solid var(--border-color);
    border-radius: 18px;

    background-color: var(--input-bg);
    color: var(--text-color);

    font-size: 1rem;
    transition: 0.2s ease;
}

#input:focus {
    outline: none;

    transform: translateY(-2px);
}

#input::placeholder {
    color: var(--placeholder-color);
    letter-spacing: 1px;
}

#btn {
    padding: 18px 24px;

    border: none;
    border-radius: 18px;

    background-color: #e90a76;
    color: white;

    font-weight: 600;

    cursor: pointer;

    transition: 0.2s ease;
}

#btn:hover {
    transform: translateY(-2px) scale(1.02);
}


/* TASK CONTAINER */

#container {
    display: flex;
    flex-direction: column;

    gap: 14px;
}


/* TASK CARD */

.task {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 12px;
    padding: 10px;

    border-radius: 20px;

    background: var(--card-color);

    backdrop-filter: blur(10px);

    box-shadow: 0 0px 5px var(--shadow-color);

    transition: 0.2s ease;
}

.task:hover {
    transform: translateY(-3px);
}

.task p {
    flex: 1;

    color: var(--text-color);

    font-size: 1rem;
    line-height: 1.5;

    word-break: break-word;
}

.task button {
    padding: 10px 16px;

    border: none;
    border-radius: 12px;

    background-color: rgba(12, 11, 11, 0.938);

    color: white;

    font-size: 0.9rem;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s ease;

    flex-shrink: 0;
}

.task button:hover {
    background-color: lightseagreen;
    transform: scale(1.03);
    color: white;
}



.task .remove-btn:hover {
    background-color: red;
    color: white;

}

.completed p {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    opacity: 0.7;
}


/* RESPONSIVE */

@media (max-width: 600px) {
    .header {
        padding: 10px;
        text-align: center;
    }

    .logo {
        color: var(--text-color);
    }

    .input-box {
        flex-direction: column;
    }

    #input {
        border: 1px solid var(--border-color);
         background-color: var(--input-bg);
    }

    #btn {
        width: 100%;
        box-shadow: 0 0 5px var(--shadow-color);
        background: linear-gradient(135deg, #6da5ef, #e9d5ff);
    }

    .task {
        flex-direction: column;
        align-items: flex-start;
    }

    .task p {
        color: var(--text-color);
    }

    .task button {
        width: 100%;
        background-color: var(--text-color);
        color: var(--bg-color);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


}

