* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(73, 73, 222);
    padding: 20px;
}

.app {
    margin-top: 20px;
}

#input,
#btn {
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    border: none;
    background-color: rgb(246, 247, 248);
    box-shadow: 0 0 5px rgb(244, 241, 241);
}

   #input{
    width: min(400px, 90vw);
}

#input:focus {
    outline: none;
}

#input::placeholder {
    color: black;
    opacity: 0.5;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn {
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

#btn:hover {
    transform: scale(1.03);
}

#btn:focus {
    background-color: rgb(25, 18, 41);
    color: white;
}

#container {
    margin-top: 20px;
}

.task {
    background-color: white;
    color: black;

    width: min(100vw, 90vw);

    padding: 12px;
    border-radius: 1em;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 5px white;

    transition: 0.2s ease;
}

.task:hover {
    transform: translateY(-2px);
    background-color: rgba(245, 240, 246, 0);
    color: white;
}

.task p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
}

.task button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;

    background-color: rgb(244, 4, 4);
    color: white;

    cursor: pointer;

    transition: 0.2s ease;
}

.task button:hover {
    opacity: 0.8;
}