* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 241, 248);
}

.app {
    margin-top: 50px;
}

#input, #btn {
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 0 0 5px black;
}

#input:focus {
    outline: none;
    color: black;
}

#input::placeholder {
    color: black;
    opacity: 0.5;
    font-weight: light;
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn {
    color: black;
    font-weight: bold;
}

#btn:focus {
    background-color:rgb(25, 18, 41);
    color: white;
}

#container {
    font-size: 1.8em;
    color: white;
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    padding: 10px;
    gap: 10px;
}

.task p {
    padding: 12px;
    border-radius: 8px;
    background-color: purple;
    font-size: 0.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task button{
    background-color:rgb(25, 18, 41);
    color: white;
    border: none;
    font-size: 0.6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

